

/* INSIGHTS CAROUSEL x3 (BLUE > ORANGE > GREEN)
************************************************/

.insights {

	p {

		a {
			font-weight: bold;
			white-space: nowrap;
		}

		.btn {
			margin-left: 5px;
		}
	}

	.carousel-container {

		.left-half {
			text-align: left;
			padding: $base-spacing-unit;

			h3 {
				text-align: left;
			}
		}

		.right-half {
			padding: 0;
		}

		@include responsive(medium) {

			.left-half {
				width: 33.333333%;
				padding: 30px;
			}

			.right-half {
				width: 66.66667%;
			}
		}
	}

	@include responsive(small) {

		p .btn {
			display: none;
			// display: block;
			// width: 135px;
			// margin: 10px auto;
			position: absolute;
			top: -1px;
			right: 20px;
			font-size: 14px;
			padding: 5px 15px 6px;
		}
	}
}

.hidden {
	display: none;
	// opacity: 0;
}

// .visible {
// 	opacity: 1;
// }

.textInsight {
	position: absolute;
	// z-index: 20000;
	top: 40%;
}

.cp3-titleBlue {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	padding-top: 2.6em;
}

.cp3-titleOrange {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	padding-top: 2.2em;
}

.cp3-titleGreen {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	padding-top: 2.2em;
}

/* BLUE CAROUSEL
**************************/


.cp3-insight-01-stage {
	position: relative;
	height: 365px;
	display: inline-block;
	width: 100%;

	h3 {
		margin-top: 1em;
		text-align: center;
		// width: 100em;
	}

	.cp3-year-key {
		position: absolute;
		// top: 15px;
		// right: 100px;
		font-size: 12px;
		position: absolute;
		left: 0;
		right: 0;
		// bottom: 2em;
		top: 40px;
		text-align: center;
		display: inline-block;

		.cp3-year-15 {
			float:left;
			@include cf;
			margin-left:40%;
			margin-top:3em;
		}

		.cp3-year-16 {
			float:left;
			@include cf;
			margin-left: 0.8em;
			margin-top:3em;
		}

		i {
			display: inline-block;
			width: 8px;
			height: 8px;
			margin-right: 1px;
		}

		.cp3-year-15 i {
			background: $brand-color-3;

		}

		.cp3-year-16 i {
			background: $brand-color-2;
		}
	}

	.cp3-insight-person {
		@include absolute;
		@include opacity(1);
		// transition: .3s;
	}

	.cp3-insight-country {
		position: absolute;
		width: 100%;
		line-height: 1;
	}


	.cp3-insight-01 {
		height: 315px;
		position: absolute;
		bottom: 0;
		transition-delay: 0;

		&:hover {
			z-index: 3;
			@include opacity(.3);

			.cp3-insight-person {
				@include opacity(.3);
				transition-delay: 0;
			}

			.cp3-insight-charts img {
				@include opacity(1);
			}
		}
	}
	.cp3-insight-02 {
		height: 251px;
		position: absolute;
		bottom: 0;
		transition-delay: 0;

		&:hover {
			z-index: 3;
			@include opacity(.3);

			.cp3-insight-person {
				@include opacity(.3);
				transition-delay: 0;
			}

			.cp3-insight-charts img {
				@include opacity(1);
			}
		}
	}

	.cp3-insight-03 {
		height: 287px;
		position: absolute;
		bottom: 0;
		transition-delay: 0;

		&:hover {
			z-index: 3;
			@include opacity(.3);

			.cp3-insight-person {
				@include opacity(.3);
				transition-delay: 0;
			}

			.cp3-insight-charts img {
				@include opacity(1);
			}
		}
	}

	.cp3-insight-04 {
		height: 331px;
		position: absolute;
		bottom: 0;
		transition-delay: 0;

		&:hover {
			z-index: 3;
			@include opacity(.3);

			.cp3-insight-person {
				@include opacity(.3);
				transition-delay: 0;
			}

			.cp3-insight-charts img {
				@include opacity(1);
			}
		}
	}

	.cp3-insight-05 {
		height: 341px;
		position: absolute;
		bottom: 0;
		transition-delay: 0;

		&:hover {
			z-index: 3;
			@include opacity(.3);

			.cp3-insight-person {
				@include opacity(.3);
				transition-delay: 0;
			}

			.cp3-insight-charts img {
				@include opacity(1);
			}
		}
	}

	.cp3-insight-01 {
		width: 25%;
		left: 5%;

		.cp3-insight-person {
			background: url("../images/insights/001/australia.png") no-repeat 0 100%;
			// background-size: auto 301px; // 524 x 602

		}
		
		&:hover {
		background: url("../images/insights/001/australiaSelect.png") no-repeat 0 100%;

		// background-size: 115px 321px;
		}

		.cp3-insight-charts {
			margin-left: -32px;

			.cp3-insight-country {
				top: 52px;
			}
		}

		&:hover .cp3-insight-person {
			background-position-x: -131px;

		}
	}

	.cp3-insight-02 {
		width: 25%;
		left: 28%;

		.cp3-insight-person{
			background: url("../images/insights/001/china.png") no-repeat 0 100%;
			// background-size: auto 342px; // 468 684
		}

		&:hover {
		background: url("../images/insights/001/chinaSelect.png") no-repeat 0 100%;
		// background-size: 115px 321px;
		}

		.cp3-insight-charts {
			margin-left: -41px;

			.cp3-insight-country {
				top: 8px;
			}
		}

		&:hover .cp3-insight-person {
			background-position-x: -117px;
		}
	}

	.cp3-insight-03 {
		width: 25%;
		left: 50%;

		.cp3-insight-person{
			background: url("../images/insights/001/uk.png") no-repeat 0 100%;
			// background-size: auto 303px; // 620 606
		}

		&:hover {
		background: url("../images/insights/001/ukSelect.png") no-repeat 0 100%;
		// background-size: 115px 321px;
		}

		.cp3-insight-charts {
			margin-left: -30px;

			.cp3-insight-country {
				top: 42px;
			}
		}

		&:hover .cp3-insight-person {
			background-position-x: -155px;
		}
	}

	.cp3-insight-04 {
		width: 25%;
		left: 73%;

		.cp3-insight-person{
			background: url("../images/insights/001/usa.png") no-repeat 0 100%;
			// background-size: auto 321px; // 456 642
		}

		&:hover {
		background: url("../images/insights/001/usaSelect.png") no-repeat 0 100%;
		// background-size: 115px 321px;
		}

		.cp3-insight-charts {
			margin-left: -37px;

			.cp3-insight-country {
				top: 60px;
			}
		}

		&:hover .cp3-insight-person {
			background-position-x: -114px;
		}
	}
}


/* ORANGE CAROUSEL
**************************/

.cp3-insight-02-stage {
	position: relative;
	height: 365px;

	.cp3-chart-container {
		// padding: 61px 0 0 10px;
		background: url("../images/insights/002/map.png") no-repeat 0 100%;
		background-position: center; 
		z-index: 100;

		@include cf;
		overflow: hidden;

		@include responsive(small) {
			display: none;
		}

		h3 {
			position: absolute;
			margin-top: 1.8em;
			margin-left: 16em;
			text-align: right;
		}

	}

	[class*="cp3-chart-bar"] {
		height: 365px;
		width: 10%;
		float: left;
		// overflow: hidden;
		text-indent: -9999px;
		margin-right: 6px;
		position: relative;
		@include opacity(.5);
		@include transition(.1s);

		&:before {
			position: absolute;
			top: -55px;
			right: 5px;
			content: '';
			width: 498px;
			height: 70px;
			@include translate3d(-100%,0,0);
			@include transition(.3s);
		}

		&:hover {
			@include opacity(1);

			&:before {
				@include translate3d(-10px,0,0);
			}
		}
	}

	.cp3-mobile-chart {
		background: url('[Component name="manpowergroupsolutions-design/candidate-preferences/images/insights/mobile1" format="url"]') no-repeat 0 100%;
		background-size: 482px 304px;
		height: 304px;
		// width: 482px;
		width: 10%;

		@include responsive(medium) {
			display: none;
		}
	}

	.cp3-chart-bar-19 {
		background-position-x: -428px;
		background: url("../images/insights/002/chart1.png") no-repeat 0 100%;
		margin-left: 32px;
		z-index: 1;

		#img1 {
			position: absolute;
			margin-top: 2.1em;
			margin-left: -13%;
			width: 14em;
			height: 14em;
		}
	}

	.cp3-chart-bar-18 {
		background-position-x: -404px;
		background: url("../images/insights/002/chart2.png") no-repeat 0 100%;
		z-index: 4;

		#img2 {
			position: absolute;
			margin-top: 4.2em;
			margin-left: -20%;
			width: 14em;
			height: 14em;
		}
	}

	.cp3-chart-bar-17 {
		background-position-x: -381px;
		background: url("../images/insights/002/chart3.png") no-repeat 0 100%;
		z-index: 5;

		#img3 {
			position: absolute;
			margin-top: 8.2em;
			width: 14em;
			height: 14em;
			margin-left: -10%;
		}
	}

	.cp3-chart-bar-16 {
		background-position-x: -357px;
		background: url("../images/insights/002/chart4.png") no-repeat 0 100%;
		z-index: 6;

		#img4 {
			position: absolute;
			margin-top: 9.8em;
			width: 14em;
			height: 14em;
			margin-left: -10%;
		}
	}

	.cp3-chart-bar-15 {
		background-position-x: -333px;
		background: url("../images/insights/002/chart5.png") no-repeat 0 100%;
		z-index: 7;

		#img5 {
			position: absolute;
			margin-top: 11.5em;
			width: 14em;
			height: 14em;
			margin-left: -10%;		
		}
	}

	.cp3-chart-bar-14 {
		background-position-x: -310px;
		background: url("../images/insights/002/chart6.png") no-repeat 0 100%;
		z-index: 8;

		#img6 {
			position: absolute;
			margin-top: 13.2em;
			width: 11em;
			height: 11em;
			margin-left: -10%;
		}
	}

	.cp3-chart-bar-13 {
		background-position-x: -286px;
		background: url("../images/insights/002/chart7.png") no-repeat 0 100%;
		z-index: 9;

		#img7 {
			position: absolute;
			margin-top: 13.5em;
			width: 11em;
			height: 11em;
			margin-left: -240%;
		}
	}

	.cp3-chart-bar-12 {
		background-position-x: -262px;
		background: url("../images/insights/002/chart8.png") no-repeat 0 100%;
		z-index: 10;

		#img8 {
			position: absolute;
			margin-top: 13.5em;
			width: 11em;
			height: 11em;
			margin-left: -240%;
		}
	}
}

// .textInsight { transition: all .2s ease-in-out; }
// .textInsight:hover { transform: scale(1.1); }

/* GREEN CAROUSEL
**************************/

.cp3-insight-03-stage {
	// position: relative;
	height: 365px;
	overflow: hidden;
	background: url("../images/insights/003/bg-3.png") center no-repeat;
	display: inline-block;
	width: 100%;
}

.cp3-insight-003 {
	display: inline-block;
}

.cp3-insight-percent h3 {
	color: green;
}

.cp3-insight-img {
	display: inline-block;
	text-decoration: none;

	img {
		display: inline-block !important;
		margin-top: 6em;
		// margin-left: 2em;
		-webkit-transition: all 1.5s ease-in-out;
     	-moz-transition: all 1.5s ease-in-out;
        -o-transition: all 1.5s ease-in-out;
      	-ms-transition: all 1.5s ease-in-out;
        transition: all 1.5s ease-in-out;
	}
}

#industry1 {
	position: absolute;
	left: 7%;
	z-index: 100;
}

#industry2 {
	position: absolute;
	left: 25%;
	z-index: 50;
}

#industry3 {
	position: absolute;
	left: 56%;
	z-index: 100;
}

#industry4 {
	position: absolute;
	left: 73%;
	z-index: 50;
}

#industry1:hover {
	// width: 7.5em;
	// height: 7.5em;
	// margin-top: 6em;
	z-index: 10000;

}
#industry2:hover {
	// width: 7em;
	// height: 7em;
	// margin-top: 6em;
	z-index: 10000;
}
#industry3:hover {
	// width: 7em;
	// height: 7em;
	// margin-top: 6em;
	z-index: 10000;
}
#industry4:hover {
	// width: 7em;
	// height: 7em;
	// margin-top: 6em;
	z-index: 10000;
}

	.cp3-insight-charts {
		left: 0;
		top: 0;
		// font-size: 14px;
		// font-weight: bold;
		// text-align: center;
		// width: 80px;
		// height: 170px;
		// position: absolute;

		img {
			max-width: none;
			@include opacity(.5);
			// width: 60px;
			// position: absolute;
			// left: 9px;
			// bottom: 0;
		}

		&:after {
			content: '';
			@include transition(.4s);
			// position: absolute;
			// background: url("../images/insights/star.png") no-repeat;
			// background-size: 315px 290px;
			// height: 290px;
			// width: 315px;
			// top: 151px;
			// left: -176px;
		}

		&:hover {

			img {
				@include opacity(1);
			}

			&:after {
				// background-image: url("../images/insights/star-hand.png");
			}
		}
	}



/* ANIMATIONS
**************************/
.slick-slide {

	[class*="cp3-insight-0"] {
	    @include opacity(0);
	    @include transition(.5s);
	    @include translate3d(0, 20px, 0);


	}

	.cp3-insight-02-stage [class*="cp3-chart-bar-"] {
		transform-origin: 50% 100%;
		visibility: visible;
	}

	.cp3-year-key {
		@include opacity(0);
	    @include transition(1s);
	    @include translate3d(0, 20px, 0);
	}
}

.animate .slick-active {

	[class*="cp3-insight-0"] {
		@include opacity(1);
	    @include translate3d(0, 0, 0);

	    .cp3-insight-charts {
	    	animation: 1.4s chart-up ease-in-out;
	    	// @include opacity(1);
	    	// @include translate3d(0, 0, 0);

	    	// img {
	    	// 	transform: scale(1);
	    	// 	// @include opacity(1);
	    	// }
	    }
	}

	.cp3-year-key {
		@include opacity(1);
	    @include translate3d(0, 0, 0);
	}

	.cp3-insight-02 {
		transition-delay: .1s;

		.cp3-insight-charts {
			transition-delay: .1s;

			// img {
			// 	transition-delay: .1s;
			// }
		}
	}

	.cp3-insight-03 {
		transition-delay: .2s;

		.cp3-insight-charts {
			transition-delay: .2s;

			// img {
			// 	transition-delay: .2s;
			// }
		}
	}

	.cp3-insight-04 {
		transition-delay: .3s;

		.cp3-insight-charts {
			transition-delay: .3s;
		}
	}

	.cp3-insight-05 {
		transition-delay: .4s;

		.cp3-insight-charts {
			transition-delay: .4s;
		}
	}

	.cp3-insight-02-stage [class*="chart-bar-"] {
		animation: 1.4s chart-up ease;
	}
}


@keyframes cp3-chart-up {
    0% {
        @include opacity(0);
		transform: scale(.1);
    }
    50% {
        @include opacity(1);
		transform: scale(1);
    }

}

.cp3-insight-mobile-01,
.cp3-insight-mobile-02,
.cp3-insight-mobile-03 {
	display: none;
	position: relative;
	text-align: center;
	

	&:after {
		@include absolute;
		background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
		left: auto;
		width: 15px;
		content: '';
		z-index: 3;
	}

	.cp3-insight-mobile-scroller {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		padding: 15px 15px 0;
		text-align: center;
		position: relative;

		&:after {
			@include absolute;
			background: #F7F7F8;
			width: 15px;
			content: '';
			z-index: 4;
		}
	}
}


/* MOBILE
**************************/

@include responsive(small) {
	.cp3-insight-01-stage,
	.cp3-insight-02-stage,
	.cp3-insight-03-stage {
		display: none;
	}

	.cp3-insight-mobile-01,
	.cp3-insight-mobile-02,
	.cp3-insight-mobile-03 {
		display: block;

		img {
			max-width: none;
			position: relative;
		}
	}

	.cp3-insight-mobile-01 {

		.cp3-insight-mobile-scroller:after {
			left: 494px;
		}

		img {
			width: 479px;
		}
	}

	.cp3-insight-mobile-02 {

		.cp3-insight-mobile-scroller {
			padding-bottom: 15px;

			&:after {
				left: 497px;
			}
		}

		img {
			width: 482px;

		}
	}

	.cp3-insight-mobile-03 {

		.cp3-insight-mobile-scroller {
			padding-bottom: 20px;

			&:after {
				left: 511px;
			}
		}

		img {
			width: 496px;
		}
	}

	.carousel-box-shadow {
		margin-right: -10px;
		margin-left: -10px;
		box-shadow: none;

		@media screen and (max-width: 374px) {
			margin-right: -5px;
			margin-left: -5px;
		}

		.left-half p {
			margin-bottom: 0;
		}

		.carousel-container {
			float: none;
			display: block;
			margin-bottom: 15px;
			border-top: 1px solid #ddd;
			box-shadow: 0 2px 4px rgba(0,0,0,.3);
		}

		.slick-prev,
		.slick-next,
		.slick-dots {
			display: none !important;
		}
	}
}


h3 span {
	white-space: nowrap;
}