// body.homepage {
//     padding-top: 70px;

//     @include responsive(medium) {
//         padding-top: 120px;
//     }
// }

.header {
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 999 !important;
    position: fixed;
    top: 0;
    @include transition(.2s);

    @include responsive(medium) {
        height: 90px;
    }

    ul.links {
        @include reset-list-style;
        float: right;

        li {
            display: inline-block;
            margin-left: 10px;
            position: relative;

            @include responsive(medium) {
                margin-left: 20px;
            }

            &:first-child {
                margin-left: 0;
            }

            a {
                color: $brand-color-6;
                display: block;
                line-height: 60px;
                @include transition(.2s);
                font-size: 20px;

                &:hover {
                    color: darken($brand-color-6, 20%);
                }

                span {
                    display: none;
                }

                @include responsive(medium) {
                    line-height: 90px;
                    font-size: 26px;

                    .fa-share,
                    .fa-envelope-o {
                        display: none;
                    }

                    span {
                        display: inline;
                    }
                }
            }

            .share-menu {
                display: none;
                position: fixed;
                top: 94%;
                background: white;
                padding: 10px;
                z-index: 10;
                right: 0;
                left: 0;
                text-align: center;
                border-bottom: 1px solid rgba(0,0,0,.2);

                a {
                    line-height: 1;

                    .fa-twitter {
                        color: #00aced;
                    }

                    .fa-facebook {
                        color: #3b5998;
                    }

                    .fa-google {
                        color: #c23321;
                    }

                    .fa-linkedin {
                        color: #007bb6;
                    }

                    .fa-at {
                        color: #3490F3;
                    }
                }

                @include responsive(medium) {
                    border: 1px solid #ccc;
                    position: absolute;
                    width: 300px;
                    left: auto;
                    right: 0;

                    &:after,
                    &:before {
                        bottom: 100%;
                        left: 89%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                    }

                    &:after {
                        border-color: rgba(255, 255, 255, 0);
                        border-bottom-color: #fff;
                        border-width: 15px;
                        margin-left: -15px;
                    }

                    &:before {
                        border-color: rgba(204, 204, 204, 0);
                        border-bottom-color: #ccc;
                        border-width: 16px;
                        margin-left: -16px;
                    }
                }
            }

            &.open {

                .share-toggle {
                    color: $text-color;
                }

                .share-menu {
                    display: block;
                }
            }
        }
    }
}

.pagination {
    position: fixed;
    top: 60px;
    width: 100%;
    background: #A5BDDC;
    @include cf;
    @include reset-list-style;
    z-index: 2;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    @include transition(.2s);
    display: none;

    @include responsive(medium) {
        top: 90px;
        display: block;
    }

    li {
        float: left;
        width: 16.666% !important;
        border-right: 1px solid rgba(255,255,255,.4);
        text-align: center;

        &:last-child {
            border: 0;
        }

        a {
            display: block;
            color: white;
            font-size: 14px;
            line-height: 30px;
            // box-shadow: inset 0 2px 10px rgba(0,0,0,.2);

            &.active {
                background-color: #6591C4;
                font-weight: bold;
            }

            @include responsive(small) {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}

.logo {
    text-indent: -9999px;
    float: left;
    overflow: hidden;
    margin-top: 10px;
    display: block;
    background: url("../images/logo-mpgs-250x52.png");
    width: 180px;
    height: 37px;
    background-size: cover;
    @include transition(.1s);

    @include responsive(medium) {
        width: 250px;
        height: 52px;
        margin-top: 19px;
    }
}

.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0);

    &.headroom--not-top {
        @include responsive(medium) {
            transform: translateY(0);
            height: 60px;

            .logo {
                width: 192px;
                height: 40px;
                margin-top: 8px;
            }

            ul.links li a {
                line-height: 60px;
            }

            .pagination {
                position: fixed;
                top: 60px;
                width: 100%;
            }
        }
    }
}

.headroom--unpinned {
    transform: translateY(0);

    @include responsive(medium) {
        transform: translateY(0);
        height: 60px;

        .logo {
            width: 192px;
            height: 40px;
            margin-top: 8px;
        }

        ul.links li a {
            line-height: 60px;
        }

        .pagination {
            position: fixed;
            top: 60px;
            width: 100%;
        }
    }
}



